{% extends 'base.html.twig' %}

{% block page_title %}{{ employe.firstname }} {{ employe.name }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.name, {'label': 'Nom'}) }}
        {{ form_row(form.firstname, {'label': 'Prénom'}) }}
        {{ form_row(form.email, {'label': 'Email'}) }}

        <div class="form-flex">
            {{ form_row(form.arrived_date, {'label': "Date d'entrée"}) }}
            {{ form_row(form.contract_type, {'label': 'Statut'}) }}
        </div>

        <button class="button button-submit">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}