{% extends 'base.html.twig' %}

{% block page_title %}Équipe{% endblock %}

{% block body %}
<table id="team-container">
    <thead>
        <tr>
            <th>Prénom, Nom</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for employe in employes %}
            <tr>
                <td>
                    <div class="employee-infos">
                        <div class="employee-avatar">
                            {{ (employe.firstname|first ~ employe.name|first)|upper }}
                        </div>
                        <div class="employee-coords">
                            <strong>{{ employe.firstname }} {{ employe.name }}</strong>
                            <span>{{ employe.email }}</span>
                        </div>
                    </div>
                </td>
                <td>{{ employe.contractType }}</td>
                <td>
                    <a class="button button-edit-team" href="{{ path('employe_edit', { id: employe.id }) }}">
                        Éditer
                    </a>
                    <a class="delete-team" href="#">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun employé trouvé</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}