{% extends 'base.html.twig' %}
{% block page_title %}{{ project.name }}{% endblock %}
{% block body %}
{% form_theme form '@Symfony/autocomplete_form_theme.html.twig' %}
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.employes) }}
        <br>
        <button class="button button-submit">Modifier</button>
    {{ form_end(form) }}
{% endblock %}